* {
    /*background: var(--panel);*/
    background-color: rgba(17, 24, 39, 0.8);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 14px;
    display: block;
    unicode-bidi: isolate;
}


app-flows-pannel{
    grid-column: span 3;
}
app-net-graph{
    grid-row: span 2;
}