.stat-card {
    background: #0206178c;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
}

.stat-card span {
    font-size: 12px;
    color: var(--muted);
}

.stat-card strong {
    display: block;
    font-size: 20px;
}